<div class="container-fluid min-vh-100"
     [ngClass]="(user1Wins || user2Wins || tie)? 'regularCursor' : playerTurn === 'user1'? 'crossCursor' : 'circleCursor'">
  <div class="row bg-dark">
    <div class="col-6 d-flex justify-content-center align-items-center"
         style="height: 70px;border: 1px solid #333"
         [ngClass]="playerTurn === 'user1'? 'bg-primary': 'bg-secondary'">
      <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewport='0 0 100 100'
           style='fill:blue;font-size:24px;'>
        <text y='80%'>✖</text>
      </svg>
      Crosses
      <ng-container *ngIf="user1Wins; then winner"></ng-container>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center"
         style="height: 70px;border: 1px solid #333"
         [ngClass]="playerTurn === 'user2'? 'bg-danger': 'bg-secondary'">
      ⭕ Naughts
      <ng-container *ngIf="user2Wins; then winner"></ng-container>
    </div>
  </div>
  <!--<button mat-mini-fab class="float-right btn bg-secondary"
          data-toggle="collapse" data-target="#collapseExample"
          aria-label="Example icon button with a menu icon">
    <mat-icon>settings</mat-icon>
  </button>-->
  <div class="collapse mt-2 regularCursor" id="collapseExample">
    <div class="card card-body bg-secondary mat-elevation-z18">
      <div class="col-6">
        <h4>Grid size</h4>
        <mat-slider
          color="accent"
          class="example-margin"
          [max]="6"
          [min]="4"
          [(ngModel)]="gridSize"
          (change)="changeGridSize($event)"
          [thumbLabel]="true">
        </mat-slider>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
  <ng-template #nonClickable>
    <span style="height: 100%; width: 100%"></span>
  </ng-template>
  <ng-template #winner>
    (🏆🎉🏆)
  </ng-template>
  <div class="row mt-5" style="height: 150px">
    <div class="col-12 d-flex justify-content-center">
      <ng-container *ngIf="user1Wins || user2Wins || tie">
        <h1 class="text-white">⌛ GAME OVER</h1>
      </ng-container>
    </div>
    <div class="col-12 d-flex justify-content-center" *ngIf="tie">
      <h1 class="text-white">🏳 Match Tie!!!</h1>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h1 class="text-white">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="user1Wins">
            <svg xmlns='http://www.w3.org/2000/svg' width='32' height='40' viewport='0 0 100 100'
                 style='fill:blue;font-size:38px;'>
              <text y='75%'>✖</text>
            </svg>
            Wins!!!
          </ng-container>
          <ng-container *ngSwitchCase="user2Wins">⭕ Wins!!!</ng-container>
        </ng-container>
      </h1>
    </div>
    <div class="col-12 d-flex justify-content-center" *ngIf="user1Wins || user2Wins">
      <h1 class="text-white">🏆🎉🏆🏆🎉🏆</h1>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <table style="border:1px solid grey;height: 400px;width: 400px">
      <tbody>
      <tr *ngFor="let r of grid; let i = index" style="border:2px solid #333;">
        <td *ngFor="let c of r; let j = index"
            style="border:2px solid #333; max-height: 75px; max-width: 75px;min-height: 75px; min-width: 75px"
            class="bg-light mat-elevation-z18">
          <div *ngIf="c === 'empty'; else displayMarking"
               class="d-flex justify-content-center w-100 h-100">
            <ng-container *ngIf="!(user1Wins || user2Wins || tie); else nonClickable">
            <span style="height: 100%; width: 100%;"
                  (click)="play(i, j)"></span>
            </ng-container>
          </div>
          <ng-template #displayMarking>
            <div class="d-flex justify-content-center">
              <mat-icon style="font-size: 2.5em;"
                        [ngStyle]="c === 'close'? {'color': 'blue'} : {'color': 'red'} "
              >{{c}}</mat-icon>
            </div>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
