.crossCursor {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='70' height='84' viewport='0 0 100 100' style='fill:blue;font-size:60px;'><text y='50%'>✖</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.circleCursor {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='70' height='84' viewport='0 0 100 100' style='fill:black;font-size:42px;'><text y='50%'>⭕</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.regularCursor {
  cursor: auto;
}
